.auth {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
    .card {
        border: 1px solid transparent;
        border-radius: 5px;
        box-shadow: 5px 5px 5px 5px #ccc8c8 ;
        overflow: hidden;
    }
    .img {
        img {
            width: 500px;
        }
    }

    .form {
        width: 400px;
        padding: 15px;
        h2 {
            color: orangered;
            text-align: center;
        }
        form {
            input {
                display: block;
                font-size: 16px;
                font-weight: 300;
                padding: 10px;
                margin: 10px auto;
                width: 100%;
                border: 1px solid #777;
                border-radius: 3px;
                outline: none;
            }
        }
        .btn_reset {
            display: block;
            width: 100%;
            padding: 5px;
            background-color: #006DCB;
            color: #fff;
            border: 1px solid black;
            border-radius: 3px;
            font-weight: bold;
            font-size: 16px;
        }
        .links {
            display: flex;
            justify-content: space-between;
            margin: 5px 0;
            a {
                text-decoration: none;
                color: #777;
            }
        }
    }
}
